html {
    font-family: helvetica,Arial,sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}
body {
    margin: 0;
}
.page-box {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main-box {
    background-color: #062863;
    /*background-image: url(/images/top-left.png), url(/images/top-right.png), url(/images/bottom-left.png), url(/images/bottom-right.png);*/
    
    background-image: 
    /*url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAEsCAYAAAB5fY51AAAAGXRFW…DDAgDAsAAAwwIAwLAAADAsAMCwAAAwLAAADAsAUuL/BRgAbdjMWJwXo90AAAAASUVORK5CYII=),*/ 
    url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAEsCAYAAAB5fY51AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA3hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTQ1IDc5LjE2MzQ5OSwgMjAxOC8wOC8xMy0xNjo0MDoyMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo3YzQyN2Q3OS01Nzg2LTRjZTktYWE3Yi04MDJhYWI0NzUwOWIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RjI5MjI3NTgxODRGMTFFQTk3RjlENTdERDJBMjU0OTUiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RjI5MjI3NTcxODRGMTFFQTk3RjlENTdERDJBMjU0OTUiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTkgKE1hY2ludG9zaCkiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3YzQyN2Q3OS01Nzg2LTRjZTktYWE3Yi04MDJhYWI0NzUwOWIiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6N2M0MjdkNzktNTc4Ni00Y2U5LWFhN2ItODAyYWFiNDc1MDliIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+y8Jy8QAAHH5JREFUeNrsnQ2wl2WZxp8DCGKNB/Nj48MR0HQUxK9UKCcp3A1pXZU2FbMkW3EbUZmFdkOpzVJxChs1bEtLcaNI2Y66bGhTIjoWgqUIWKvy5YjYKirHKRTlY6+7/1McEA4HeL/u5/39Zu55cZrg/z7PdV/v/bzv89G0efPmAADggU40AQBgWAAAGBYAYFgAABgWAACGBQAYFgAAhgUAgGEBAIYFAIBhAQBgWACAYQEAYFgAABgWAGBYAAAYFgAAhgUAGBYAQPF0yfovbGpqolUToN/U1m66HKLoq+ijOECxf4wD2/z33m3CaN7OX9car2+1iVcVaxSvxD//5b9XKVYqnl8xtnk9PeGfLM+NaMr6EAoMy5UpWYV9qGKQ4uj4537RpHpZd5apc8XqaF4rFMsUixWL7M8ys030IIaFYaVrTnvpcrziJMUx0aQGKPZxeDvrFE9H83pKsUDxhEzsHXoaw8KwfBpUD12GKE6JcaKie8K3/KbiccWjMebJwNaiBAwLw6qmQXWOBjVcMUJxbMlDutLzRLFQMVvxQDSwjSgFw8KwyjOpnrqcHuM0RQ9aZYdYtfVgNLD7ZV4v0SQYFoaVv0kdpMtIxacUQwNTU3a3+npIMVPRIvN6mSbBsCA7k9ovmtS5imGYVKZsipXXXdG8XqdJMCzYdZOyhjxVMUbxSUVXWiV33lb8VHGr4mGZ12aaBMOCnQ/5RkejOpQWKY1l0bimMWTEsODdRmXTDibEoV8XWqQybLChomKKjOtxmgPDqrNJ2buoT0Sj+ggtUnkeMeNS/IyZ9hhWnYzK3kddqBivOIIWccczihsUd8q43qY5MKyUjeoixZWKg2kR97yguE5xO8aFYaVkVPZO6gLFV0JjcTGkhS3O/ppiuoxrA82BYXk1KmsMmzt1TeCLXx2wL4uTFHcxJQLD8mZWg3W5UXEyrVE75ivGybQeoykwrKobVW9dro9DQKg30xVfknG9iGFhWFUzKttx06YnTAw+95iCfLC9uyaHxjyutzAsDKsKZjVUl9sUh5GfsAOWKi6Wac3FsDCssozKtnP5hgmRfIQOYg+2f63T5oIYVjXMypbQTFX0JAdhF7G9uMbKtFowLAwrb6N6ny7fDY39qAD2BNuP659lXK9hWBhWHmZle1HdqehNrkFG2BfEC2VaD2JYGFZWRmVLamzyp30FZKIZZJ7TobGoelKKS3wwrGLNyhYnz1AcR15BzjypGCXTegbD2j5stdu+WZ2vy28xKygI09lvo+6ACmuXhoC2rOYLSARK4j9CY3mP+yEiQ8J8zcqmKdjn5sHkDJSMrUUc6f1IMoaE+ZnVyXEIiFlBFRgch4gsoMew3mVWo3R5ODARFKqF6fHhqM/aU/shYdyzyjbW+ypygIpjGv2at722eIeVnVntFRpHOY0mF8AJ0xRjZFrvYFg1MiyZ1Xt1+S/Fx8kBcMbPFf8o0/ojhlUDw5JZHajL/yhOQvvglAWKv5dpvVInw6rdS3eZVR9dHsKswDmm34einmtDrSosde7B0aw4EAJSwQ6++KgqrReosNKqrGw30HmYFSSG6Xle1Hfy1MKwYmfODWwLA2liup5bB9NKfkgYh4HzMCuoAba31pCqDQ8ZEnbcrP7ygh2zgrpUWkm/iE+2wopTF8ysBqDjzNioWKV4XvGywrb2fTWG/dnEtF7xZpv/T3dFt9DY+NC2l94/hv35IMUhCkuwzjRvZjwdGi/iKzHlgXlYOzcrmxRqW84ydWH3eEOxSLE4Xp9VLDezUhJsyKG/ukTT6q84XDFIcXS87kt37BY2T2tYFSaXYljti9+W28wKzGDvsJ4USxS/UjyqeEwiX1ahYb19BbNdC05RfFgxMLBNdUexGfFnlL2MB8PasbjtH789sDZwZ9jL2QcUs60SlaBbvfxw9XGzVQ6KEYrhgfeTO2Oa4qIyF0xn6TFdEuucr2BWO8SqqLsV90m8i7zeRDTXlhhmYDZsPFNxTqy+YGssH1Yqrk7hZpKpsOJ+QT9Gn1thQzs7QOMuJfqS1G9WGrAPLOcpTAtMEN6a86WBGQwJK2BYcUdG23yvG7oMtgf4vaGxbc4cb3snZfhq4GOKMYqzFF2RxZ+/3p4qPczHsEo0rLgHu21rXPedQlcrvq34vkS5hvz8qz4O0OXzissVvWreHLY3/AlF7xGPYW0RY9dYWdV5D3Yb6tkhnDNSPIQzY63YUNEOw63zu67HYqVVmFaY6b6FG2tsVgvjcGeQxHcnZtU+1j7WTqExt+vM2H51ZHDMG5e4rbDiYZM/qqHgfq/4sqKlju+nMtSPCfVsxTWKI2vYBJ+Wfgr5SFX7IWE8Pt7eW72nRgKzpTATFdMktE1YTmZaslHGaMXk0FgqVBf+FBrvs57BsPJ/F2Hj8LocH/92LOGvlbjewGJy05UtAbpKMS7U56vikzZEzPt1Qt3fYV1TI7OaoxggQf0bZpUv1r7WzqGxWH5OTW77uJhPbnBVYekpaEsyfhHSX0v2emh8zbqD91SlVFumr8+FxtfX/RK/XdPXadJZbiZdyyGhRGTbkdiSktTXjtmSk0sloD9gHaUb1/t1uUUxMvFbtbWl9rX5NYaE2fHdxM3KXoJeLNF8ErOqzDDxD9Yf1i+xf1Kld8wvhoQZPensCffThAXzm9D4zPwsNlHZasv26ZquODHh27SHZQtDwj0TSg9dfhfSXXozVTGeiZ8uTMv2WvuWYmyit2hLdo6SFtdW1bA8bC/zjUTNyrYRvkTi+CFW4GaIaBvhXSbjst08vxca2z+nRM+Yb2MYEu7eE21oaOzLnhorFWcpAZ7CBtxWW8eExq4YfRO8PdsPfi5Dwl0TxN6hsad4amet2dPZtq19mbR3b1o2M962407t7IDnQuOr4VtVM6wqfyWckKBZ3ROfXphVGkNE68ePxn5NiQ8oxjMk7PiTyz6z2hezfRISwU2h8XJ9I6meXKVlR5TdoLgiodtapzhcen2xShVWVV+6X5+YWV2njr+K1E620rKH0DgZl83VujKR27L8swXhn6XCav9pZfv1zEtIzxMl6OtJ69pUW1+KiZ4KQ6Tfx6pSYVXKsOIaLjOrkxPp7MvV2d8mjWtnWpfpcnMitzM/mtZuG0XKL93PTcisJmJWtR0iWr9PTOR2LB/PYUj47qeSvU/735DG8Uy8swLT9LUhjXdaSxVHStMbqLC2cEEiZnUTZgWx0jId3JTArRwW87N0KmFYcRfRryTQsTYfZzypCm0YH9KYp/XlmKcYlrjIfMt5h9oM9guYZwXbVFkbY3WywPmt9I95Wiqlv8OKrm1j5IMdd+ZKxcnMYId2dG7LeOyLW1/Ht/GCDQ93dWeR1N5hXejcrGzXhbMwK9hJpWX6OCvqxSsHx3yt55AwHrHk/Z3PJey6AB00LdPJJc5vY3zM2/oZlviE4gjHnTeV/axgF03L9OJ5fp7l64i6GtYExx33m8AXQdjNKkXxuOPf/8Wy/uHSXrqrrLS9sb1+ObFFrsezBzvsLnGP+CeC39PLT5L+O2S6qbx091xdjcOsYA+HhqafcY5voZT8LaXCip94bZ+dLg47qiUe/QSQRaVlp0F5PPfQlun07sjX8RQqrNFOzcpOZL6UNIMMuTTqyhtdYh4XSuGGFbeQGeNUXBM45BQyHhqanrx+vLk45nO6hiVODT4XOc9R3EGKQQ5Mi/ryxmExn5M2LI/VlS1FuGRPNjEDaKfK2hzzwuNhuoXmc6GGpfJxP108vrC+UaJaSmpBjqa1zHTm8KePjHmdZIVlX0O6OusQ+wpyLSkFBWA6+z9nv7lbKPArZ9GGda5DEdlWx2+QS1BAlWU687hDaWFbKBdmWHHu1TBnHfH70HghClAU06LuPHFazO+kKqyRodonTW+PSXrqbSKHoMAqy/Q2ydnP7lTUsLBIA/mUs05YGNI7ghx8cE/UnycKye9CluaoXOypyypnFdaZetr9N7kDZaCc+Qdd7nP0k60y7KOceWnb/8Hj0pzTnZnVEsUs0gZKZFbUoadh4empDAlHOBPLFCaJQplE/U1x9rOHuzcslbadg6+vg6sVM0gZqAAzoh698Lcx311XWEMUPRw1+rd39VQQgJyqLNPhzY5+co+Y764Na7ijBjeBfJ9UgQrxg+BrjWGu+V6EYXl6f3WvnmpryBGoUJVlevQ0vSbXfM/VsDSetRLxWEeNfSspAhXkNke/9diY9y4rLBvPNjlpaFstP4fcgAoyJ+rTA00hx/dYeRvWKY5EMYOpDFDRYaHp0tOX69zyHsPawl2kBlSYnzj6rR/KrXzLa2mOxrF76dKq6O6ggZfoKXY0OQFVRjm1WJeBDn7qm4pm5dQ79h9eluYc78SsjLtJB0CnmdE95r+rIeFJjoRwH7kA6LT6+Z+nYR3jpGFfVOm6iFyAqhN1+qKTn5tL/udpWIOcNOwDpAI4wotec3knnIth9Zvaan/vACcNO5scAEd40evA6AMuKiw7KHUfB41qny8eJAfAEQ9G3VadfUIOBybnZVhehoM2naGVHAAvRL162dgvcx/Iy7C8zGn6FSkADvGi28x9IM8hoQceRfvgEC+67e/FsPo5adDH0D44ZB6GlS19HTTmGyvGNi9D++AN6Xa56dfBT83cBzI3rH5TW7vp0stBYzJZFDzjQb+95Addq15hHRJ87IG1GM2DYzzotynrKisPw+rrpMOpsMAzTzn5nZU3rD5OGvJZNA+O8aLfTP0gD8M6wElDLkfz4JgVTn5npn6Qh2Ht76ARNypWoXlwzKqo46qTqR/U1bBWrRjbvAHNg9vyqqFfDw/dyhvWgQ4a8XkkDwngQceZ+kFd32G9jNYhATzomCFhBryG1iEBXsWw9py96WgAHryRTA+iwbAAqLDypBuGxZAQgAqrRnAkPaBjh+RhWM0O7ns9WocEeMvBb8zUD+paYb2J1gHDosICAMCwAADqaljd6XpIgL3rdsN5GJaHc/66oXXAsAohUz+oa4XVhNYBHVNhGR6+XLwPrUMCeNBxpl/k62pY+6N1SAAPOs50ziOGBUCFVesK61U6GoAHbx5+kIdhrXHQiAehdUgADzquvGG94qARD0HrkAAedJypH9R1SNin39TWLugdvBL16+EM0MpXWB4Mq3Pwc+ArwHYfulHHGNYessZJh/dH8+C5yHLyOzP1gzwMy8sBpYejeXCMF/1m6gd5GNZKJw05CM2DY45x8jsz9YM8DMsOd/SwdevRaB4c40G/mytvWCvGNttU/NVUWAC11+9q+cHbVa+wvAwL9+03tfVQdA/ekG7tg9G+dRsO5mlYK5z0/WDkDw4Z4uR3LvdiWMucNOgpaB8c4kW3bgxrsZMG/TDaB4d40W3mPpCXYS1y0qAD+01tbUb/4IWo14FOfm7mPpDnkHCdgwa1LWaHkQbgiGHBx9bI60IOr4ZyMawVY5s36fK0EwGMIAfAEV70uiT6gIsKy9OwcDg5AI7wotdc3mPnaVhPOWnY3v2mtjKJFCpP1GlvJz83l/zP07AWONLCmaQDoNPq53+ehvVEyHgD+hw5h1wAdJoZb8b892NYK8Y2v6PL404a2KY3DCQfoMLDwQHBz3SG+TH/XVVYxqOONHEuaQEV5jxHv/XXef3FGNYWRukpxhH2UMXqynQ5ytFPzi3v8zasecHH3liG7dzwMdIDKsjHoj49sDnmvT/D0jh2rS4LHQljDLkBFeRiR791Ycx7lxWWMdtRY5+l8vsA8gMqNBw0PZ7t6Cfnmu9FGNYDjhq7q+KfSBOoEJ+PuvRCrvlehGHZeHatowa/TE+1ruQJVKC6Mh1e7ugnrw05vr8qxLA0nt2oy4OOGr1X8PVFBtJlVNSjF34R8911hZX7uDYHJjDFAUqurkx/E5z97Nxf/xRlWPcrNjlqeJtRfAZpAyVyRvAzsz3E/L4/CcNSmfiSLnOdCeZqqiwosbq62tnPnhvzPIkKy5jprAOOVYwkfaAEzo7680Qh+V2kYbU4GxYaX9fTrhP5AwVWV6a3a5z97E0xv9MxLJWLLwdfXwuNIxWjSSMokNFRd574ZczvpCos4y6HApqsp96+5BEUUF2ZziY7/Ol3F/UPFW1YVja+7awzDlJcRTpBAVwV9eaJ9UUNBws3LJWNr+vyU4dCGqen32HkE+RYXdluDOMc/vSWmNdJVljGrQ47xZZIfI9pDpCTWTXFvPC4JKzQfC7DsB4OORywWAC2J9HnSC/IgdHB515sS2M+p2tYKh83O62yjCl6Gr6f/IIMqyvT0w1Of/5tMZ+TrrCMaYoNDjtoP8UtpBlkyC1RV97YEPO4UEoxrDhno8WpwEbqqcieWZBFdWU68rqaoqWouVdVqLD+PLxyrLUbJbbDSTnYA7My/dzo+BZKyd/SDEvubGcWPuK0s96j+BEb/cFumtVeukyPOvLIIzF/62NYCVRZHwx+X5ZCuXxLcaLj3//Nsv7hsg3rZ4pnHHfcWD0tP0P+wS5UV6aXsY5vwfK1tA05SzUslZWbEqhSbELpMaQidMCsTCffc34bN8S8rWWFZdypeMFxB3ZX3CsxHkRKQjtmZfq4N+rFKy/EfC2N0g1Lbm2Loa9zrse+ilkS5T6kJmzHrEwXs6JOPHNdzNf6GlbkdvMu5515kmK6xNmZFIU2ZmV6mB714ZnlMU9LpRKGFV37awno07a25cshtOWG4Ovk5h3x9bKrqypVWCE+hZYl0LFX6Kl6LXkKUQdXJHArS2N+lk5lDEvubWuTUtko70qJ9UukbK3Nyvr/ykRuZ1LMTwxrG2yr1fmJdLJtrXwZqVtLs7J+n5zI7cwPBW6B7Mqw4lYV4xLS7s1UWrWsrG5O6JbGFb2FjKcKy0zrsaqMlzOstHinVQ+zujahysr4YczHytC0eXO25tnU1JRFx/fW5VlFSvOablKMlwA2ktrJGZVNXbCvgVckdFvrFIdLry/u6V+UpcdU8pDQ2EiTE9O1iXkmk0uTMyvrz5mJmZVxXRZmlfyQsA22k8NziYnA5uM8xDKeZMzK+vGhkMY8q7Y8Fyo6n7CyhiV3f0uXMQnq3GY8z2fBtHuzsv6bH/zPYN8eY2L+YVi7aFpzdbktQUH0Vcxjaxq3ZmX9Ni/4Xxu4PW6LeVdJKvnSfRtx9NDld4qeiep/quJfJJJ3sILKG5XtFGqb741N9BZfUhwlLa7N8i9N/qX7NlXW2oQFEuK9/Zo94itvVtY/v0pci5dmbVa1GhK2MS07YWdmwkKx7Zaf4DSeypqV9csTwfe2xjtjpvLsnqr/yMoPCduI5n26LFL0Tjw/WuKT7g9YRelGZYec2rmBIxO/VZu+MEiaey2PvzxLj3FjWFFAdpz3L+2fSVxArysmKO6o0rKIGhmV6Wt0aHza3y/x2zV9nSadzcntH6jTO6xthobWqFNqkDOWJD8wc1byHIaFFGpWh8aH4u01MCtjSp5mVdshYRtB2VmAtr7puJrkkG2aZgduXithvYGl5KarfUNjeyNbfF+X8yafVAzOe2O+2g4J24jrCF1+G/weRLk72LHgExXTyjy1JEGj6hSHf3auwN/U6Nb/pDhBWsr9mL3aG1YU2vm6/KiGOfZ7xSTFPbzf2iP9mFBtSc01iiNr2ASfln5+XMQ/hGFtEd13dPlCTXNuoeLfFbMwrl02qjMUVyuOrWkzfEeaubSofwzD2iI+e9fwsI3Da5yDS0LjQ8SMKhwSUGGjMq2MCo2vrwNr3BT2/vfUIrWCYW0tRFuyY++zetY8J1eHxk6XP5AY12BRf9XHAbp8XnG5ohcaCR+UPl4q8h/FsN4typNjpdWNFP3zV0WbsWyLxufUcbgYh302Z+/i0HhP1RVZhPWxsir8zAQMa/sitXL/x+hyK+zYtBmKn0ioT9fAqAbocl4c+h1K92/F+dLAjDL+YQxrx4K1l9BfRZvbxd512ekn90m4ixIyqUG6nKk4J9T73VR7fFV9fnVZ/ziG1f5QwGYoj0aj7WJrxx5QzFY8KDG3OjKoZl2GKUYohof015buKdMUF5X5agDDal/QtmfRLMXH0WrH9BSrL9s65VHFPIl7eYUMqr8uQxSnKD4cq6gmuq1D/FxxRtl7rWFYOxf5e61yCGluX1sEtgTIho2LFU+FxglGKxSr8jgBWP3VRZc+9keF7Ttl2w8frbDh3r50x26xwCpR9dcfS38iYlgdSgL7nD1XMQDtZoYdUbZK8XxoLBV6VfFam6uJ6a0Yf2HvGCYM2yJo/zZXO8ThkGhWnWnezLAPLEOrMr0Fw+q4afWJpsUXI6gLy6JZrarMOwcMa5dNy2b38nIWUsc+pgyuklllbVidUu/B2HlDY2cCpGxWQ6tmVlnTqQ49qU5cimlBDcxqaeo32qkuPRo7c3Ac4wOkwrI4DFxah5vtVKeebTM8fBqdQwI8XYdhYG0NaxvTWoDewTEL6mZWtTSsaFo2P8WWd/wc3YNDTLfD6riNUKe69nicAWw7T05D/+AI0+sZVZjBjmEVb1q2xuqiwA4P4APT6UVlrw0sk+QnjnaUuJ/WHYFNAKF62OZ7nytrP6s9hZnu+ZmW7Vxqu3X2JEegIth2xmeXsVNoFQ2rE3rYaohoojghNJbyAJSN6fAEz2aVNRjWu03LnminKr5Da0CJmP5OLfrAiKrDkLD9IaId1nprqNcJ01AudiLzmKIOOfU2JMSwdm5aR4TGQQ7HkUuQM08qRhVxfLxXw2JIuPMhoonH1iB+MzQ2qAPIPKejvganZlYMCcuttuysu/8M7K0F2WE7LXxWRjUnWTemwiqt2jJR2T7jM2kNyADT0aCUzYoKqzrVlp0ofEtgzhbsOvbl71IZ1T21GO9SYVWi2jKxHRUaR8IDdBTTy1F1MSsqrGpWW0NDY/rDB5AU7IDnQmO6wty63TgVVvWqLROhvduapFhHi0Ab1kVdDKqjWVFhVb/asi+IkxWfQV6154eKiTKqWp8lwMRRH8Zlc7duVJxMa9QOW/s3TkbFmlSGhG6GiSbWIYrzFEtpkVqwNPb3EMyKIaHnaquLLhcovqzoT4skx3LF1xXTZVQbaA6GhKkYV9fQ2OH0SsXBtIh7XlBcp7hdRvU2zYFhpWxcFyrGK46gRdxh6/1uUNyJUWFYdTIue4c4QvFFxUdokcrzSGgsUp4to9pEc2BYdTavE3WZoBip6EKLVAZ7J9WimCKTepzmwLBga+M6SJfRiosVh9EipWFf/GwZzTQZ1cs0B4YF7RuXNaRt1TwmVl2c5pM/62M1ZcusHpZRsf8ZhgW7YV77RdM6R3FaYP5clti7qF8q7jazkkm9TpNgWJDtkNHM61OKoZjXbpvU3NDYj6qFIR+GBcWYl+3Fdbri44q/U/SgVXbIWsUvFA8o7uc0GgwLwyrXvDqHxlKg4aExVeJY644654lioWJ2NKl5MqmNKAXDwrCqaWA9ooGdovhQaCzC7p7wLb8ZGouOf614NBrUWpSAYWFYPg1sL12OV5ykOEZxtGKgYh+Ht2N7TC1RLFY8pVigeEIG9Q49jWFhWOmamL2wPzQ0Nh80A+sfo6+iV8lDShPmasXK0FhcvDwa1CLFMmaaY1gYFrQ1s67RuCz6KA5Q7B/jwDZ/tmFmtzbDzebt/HWtbYZt6+P11RivtPnzGsWqaFIrWaeHYeVuWAAAecEcHgDAsAAAMCwAwLAAADAsAAAMCwAwLAAADAsAAMMCAAwLAADDAgDAsAAAwwIAwLAAADAsAMCwAAAwLAAADAsAUuL/BRgAbdjMWJwXo90AAAAASUVORK5CYII='),
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAEsCAYAAAB5fY51AAAAGXRFW…CwAAAQFgAAwgIAhAUAgLAAABAWACAsAACEBQDQAf5fgAEAyw11IJv0GU8AAAAASUVORK5CYII=), 
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAEsCAYAAAB5fY51AAAAGXRFW…IAAgsAgQUABBYAEFgACCwAILAAgMACQGABAIEFAD35nwADALRKT8CBeskNAAAAAElFTkSuQmCC), 
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAEsCAYAAAB5fY51AAAAGXRFW…CGBQCAYQEAYFgAgGEBAGBYAAAYFgBgWAAAGBYAwL75gwADAJg9Yl+p8U3/AAAAAElFTkSuQmCC); 
    background-size: 15%, 15%, 15%, 15%;
    background-position: left -1% top -15%, right -7.5% top -1%, left -5% bottom -10%, right -5% bottom -5%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    padding-top: 3rem;
    padding-bottom: 3rem;
    overflow: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-box{
    margin-bottom: 1.5rem;
}
h1 {
    font-size: 1.25rem;
    color: #083e9e;
    text-align: center;
    font-weight: 700;
    margin: 0;
}
p {
    font-size: .875rem;
    color: #4a5568;
    text-align: center;
    margin: 0;
    padding-top: 5px;
}
.form-box {
    width: 90%;
    padding: 2rem;
    padding-bottom: 2.5rem;
    max-width: 28rem;
    border-bottom-right-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    background-color: #ffffff;
}
form {
    overflow-y: auto;
    min-height: min-content;
    margin-top: 2rem;
    margin-bottom: 0;
    flex: 1 1;    
}
label {
    font-size: .75rem;
    color: #4a5568;
    margin-bottom: .25rem;
    line-height: 2;
    font-weight: 700;
}
.input-box {
    position: relative;
    margin-bottom: 2rem;
    flex-direction: column;
    display: flex;
}
input, select {
    color: #1a202c;
    padding: .75rem .5rem .75rem .75rem;
    outline: 0;
    border-radius: .25rem;
    background-color: #edf2f7;
    line-height: inherit;
    overflow: visible;
    font-size: 100%;
    margin: 0;
}
.button-box {
    flex: 1 1;
    align-items: flex-end;
    display: flex;
}
button {
    background-color: rgb(8, 62, 158);
    color: #fff;
    width: 100%;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: .875rem;
    text-align: center;
    padding: 1.25rem 2.5rem 1rem 2.5rem ;
    margin-top: 0;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: .75rem;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    cursor: pointer;
    line-height: inherit;
    overflow: visible;
    margin: 0;
}   
a {
    background-color: transparent;    
}
a#login {
    font-family: Karla,helvetica,Arial,sans-serif;
    font-size: .8rem;
    font-weight: 400;
    color: #ffffff;
    text-decoration: inherit;
    text-align: center;
    margin-top: 2rem;
    white-space: nowrap;
    border-bottom-right-radius: .75rem;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
}
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 3rem;
    display: block;
    border-style: solid;
}
*, :after, :before {
    --transition-duration: 250ms;
}
*, :after, :before {
    border: 0 solid #e2e8f0;
}
*, :after, :before {
    box-sizing: inherit;
}
